<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style nonce="<%= nonce %>">
      body {
        font-family: sans-serif;
        max-width: 800px;
        margin: 2em auto;
      }
      label {
        display: block;
        margin-top: 1em;
      }
      button {
        margin-top: 1.5em;
      }
      #msg {
        margin-top: 1em;
        color: red;
      }
      
      div.content {
          padding: 16px 8px;
      }      
    </style>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label>
        Username
        <input type="text" name="username" required/>
      </label>
      <label>
        Password
        <input type="password" name="password" required />
      </label>
      <button type="submit">Submit</button>
    </form>
    <% if(message) { %>
      <div id="msg"><%= message %></div>
    <% } %>
    <p>If you don't have an account: <a href="/register">Register</a></p>
  </body>
</html>
